.chess{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
td{
  border:solid 1px rgb(10, 10, 10);
  padding:10px;
  border-collapse: collapse;
  text-align: center;
  font-size: xx-large;

}
table{
  border:solid 4px black;
  padding:10px;
}
td{
  height:70px;
  width:70px;
}
.white{
  background-color: burlywood;
}
#white{
  color:rgb(243, 243, 241);
}

.black{
  background-color: rgb(158, 82, 47);
}